table{
    border: 1px solid #ccc;
    border-collapse: collapse;
  }
  th,td{
    padding: 4px 8px;
    border: 1px solid #ccc;
  }
  /* head */
  th{
    background-color: #bbe0ef;
    font-weight: normal;
    color: #005988;
    text-align: left;
  }
  /* boty */
  tbody tr:nth-child(2n){
    background-color: #e3e9f5;
  }
  tbody tr:nth-child(2n+1){
    background-color: #fff;
  }
  tbody tr{
    color: #999;
  }
  tbody tr.is-checked{
    color: #000;
  }
  input[disabled]{
    display: none;
  }
  
  input:focus{
    outline: none;
  }
  